@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #2f2f2f;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
}
div {
  box-sizing: border-box;
  padding: -10px;
}
